openapi: 3.2.0
info:
  title: Metadata User Service API
  version: version not set
servers:
- url: https://app.bigeye.com
security:
- basicAuth: []
- Personal_API_Key: []
tags:
- name: UserService
paths:
  /api/v1/users/bulk-delete:
    post:
      operationId: UserService_BulkDeleteUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedBulkDeleteUsersRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedBulkResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Delete users
      tags:
      - UserService
  /api/v1/users/service-account:
    post:
      operationId: UserService_CreateServiceAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedCreateServiceAccountRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedCreateServiceAccountResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Create a Service Account
      tags:
      - UserService
  /api/v1/users:
    get:
      operationId: UserService_GetAllUsers
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedGetUserListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get all users
      tags:
      - UserService
    post:
      operationId: UserService_InviteNewUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedUserInviteRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedUser'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Invite a new user
      tags:
      - UserService
  /api/v1/users/{userId}:
    get:
      operationId: UserService_GetUser
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedUser'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get a user
      tags:
      - UserService
    put:
      operationId: UserService_UpdateUser
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedUpdateUserRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedUpdateUserResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Update user name and/or groups
      tags:
      - UserService
components:
  schemas:
    generatedCreateServiceAccountResponse:
      properties:
        user:
          $ref: '#/components/schemas/generatedUser'
      type: object
    generatedUpdateUserResponse:
      properties:
        user:
          $ref: '#/components/schemas/generatedUser'
      type: object
    generatedGetUserListResponse:
      properties:
        users:
          items:
            $ref: '#/components/schemas/generatedUser'
          type: array
      type: object
    generatedUser:
      properties:
        email:
          type: string
        groups:
          items:
            $ref: '#/components/schemas/generatedIdAndDisplayName'
          type: array
        id:
          format: int32
          type: integer
        idpGroups:
          items:
            type: string
          type: array
        isServiceAccount:
          type: boolean
        lastLoginAt:
          format: int64
          type: string
        name:
          type: string
        pictureUrl:
          type: string
      type: object
    generatedBulkResponse:
      properties:
        failedUpdates:
          items:
            $ref: '#/components/schemas/generatedFailedUpdate'
          type: array
        notRunIds:
          items:
            format: int32
            type: integer
          type: array
        successfulIds:
          items:
            format: int32
            type: integer
          type: array
      type: object
    generatedUserInviteRequest:
      properties:
        email:
          type: string
        groupIds:
          items:
            format: int32
            type: integer
          type: array
        name:
          type: string
      type: object
    generatedCreateServiceAccountRequest:
      properties:
        groupIds:
          items:
            format: int32
            type: integer
          type: array
        name:
          type: string
      type: object
    generatedUpdateUserRequest:
      properties:
        groupIds:
          items:
            format: int32
            type: integer
          type: array
        name:
          type: string
      type: object
    generatedIdAndDisplayName:
      properties:
        displayName:
          type: string
        id:
          format: int32
          type: integer
      type: object
    runtimeError:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        error:
          type: string
        message:
          type: string
      type: object
    protobufAny:
      properties:
        typeUrl:
          type: string
        value:
          format: byte
          type: string
      type: object
    generatedBulkDeleteUsersRequest:
      properties:
        userIds:
          items:
            format: int32
            type: integer
          type: array
      type: object
    generatedFailedUpdate:
      properties:
        id:
          format: int32
          type: integer
        reason:
          type: string
      type: object
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    Agent_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
    Personal_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
