openapi: 3.2.0
info:
  title: Metadata Source Service API
  version: version not set
servers:
- url: https://app.bigeye.com
security:
- basicAuth: []
- Personal_API_Key: []
tags:
- name: SourceService
paths:
  /api/v1/sources:
    post:
      operationId: SourceService_CreateOrUpdateSource
      requestBody:
        $ref: '#/components/requestBodies/generatedCreateSourceRequest'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedCreateSourceResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Create or update source
      tags:
      - SourceService
  /api/v1/sources/{sourceId}:
    delete:
      operationId: SourceService_DeleteSource
      parameters:
      - in: path
        name: sourceId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedEmpty'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Delete source
      tags:
      - SourceService
    get:
      operationId: SourceService_GetSource
      parameters:
      - in: path
        name: sourceId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedGetSourceResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get single source
      tags:
      - SourceService
  /api/v1/sources/{sourceId}/workflow:
    get:
      operationId: SourceService_GetSourceWorkflow
      parameters:
      - in: path
        name: sourceId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedWorkflowResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get workflow for source
      tags:
      - SourceService
  /api/v1/sources/{sourceId}/workflow/status:
    get:
      operationId: SourceService_GetSourceWorkflowStatus
      parameters:
      - in: path
        name: sourceId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedWorkflowStatusResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get the current status for a workflow for a source
      tags:
      - SourceService
  /api/v1/sources/fetch:
    post:
      operationId: SourceService_GetSources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedGetSourceListRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedGetSourceListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get sources
      tags:
      - SourceService
  /api/v1/sources/metadata-schemas:
    post:
      operationId: SourceService_SetMetadataSchemas
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedMetadataSchemaRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedEmpty'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Set the schemas that automatically get metadata metrics
      tags:
      - SourceService
  /api/v1/sources/validate:
    post:
      operationId: SourceService_ValidateSource
      requestBody:
        $ref: '#/components/requestBodies/generatedCreateSourceRequest'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedSourceValidationResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Validate source
      tags:
      - SourceService
components:
  schemas:
    generatedEmpty:
      type: object
    generatedTag:
      properties:
        colorHex:
          title: 'color_hex includes a # prefix (e.g. “#181818” is correct, “181818” is incorrect)'
          type: string
        createdAt:
          format: int64
          type: string
        id:
          format: int32
          type: integer
        name:
          type: string
        updatedAt:
          format: int64
          type: string
        workspaceId:
          format: int32
          type: integer
      title: Tags
      type: object
    generatedSortDirection:
      default: SORT_DIRECTION_UNSPECIFIED
      enum:
      - SORT_DIRECTION_UNSPECIFIED
      - SORT_DIRECTION_ASCENDING
      - SORT_DIRECTION_DESCENDING
      title: Unspecified will default to ASCENDING
      type: string
    generatedTimeIntervalType:
      default: UNDEFINED_TIME_INTERVAL_TYPE
      enum:
      - UNDEFINED_TIME_INTERVAL_TYPE
      - HOURS_TIME_INTERVAL_TYPE
      - MINUTES_TIME_INTERVAL_TYPE
      - SECONDS_TIME_INTERVAL_TYPE
      - DAYS_TIME_INTERVAL_TYPE
      - WEEKDAYS_TIME_INTERVAL_TYPE
      - MARKET_DAYS_TIME_INTERVAL_TYPE
      - MONTHS_TIME_INTERVAL_TYPE
      - WEEKS_TIME_INTERVAL_TYPE
      - YEARS_TIME_INTERVAL_TYPE
      type: string
    generatedSourceValidationResponse:
      properties:
        errors:
          items:
            type: string
          type: array
        isValid:
          type: boolean
      type: object
    generatedTimeInterval:
      properties:
        intervalType:
          $ref: '#/components/schemas/generatedTimeIntervalType'
        intervalValue:
          format: int32
          type: integer
      type: object
    generatedGetSourceListResponse:
      properties:
        paginationInfo:
          $ref: '#/components/schemas/generatedPaginationInfo'
        sources:
          items:
            $ref: '#/components/schemas/generatedSource'
          type: array
      type: object
    generatedSourceMetadataOverrides:
      properties:
        accessHistoryTableName:
          type: string
        aiObservabilityEventsTableName:
          type: string
        copyHistoryTableName:
          type: string
        dynamicTableRefreshHistoryTableName:
          type: string
        queryHistoryTableName:
          type: string
        tablesTableName:
          type: string
      type: object
    generatedMetadataSchemaRequest:
      properties:
        schemaName:
          items:
            type: string
          type: array
        sourceId:
          format: int32
          type: integer
      type: object
    generatedNamedSchedule:
      properties:
        cron:
          type: string
        entityInfo:
          $ref: '#/components/schemas/generatedEntityInfo'
        id:
          format: int32
          type: integer
        name:
          type: string
        timezone:
          description: IANA timezone id (e.g. "America/New_York") used to interpret the cron. Defaults to UTC when unset.
          type: string
      type: object
    generatedPaginationInfo:
      properties:
        firstSortDistinctValues:
          format: int64
          type: string
        nextCursor:
          type: string
        noNumRecords:
          type: boolean
        numRecords:
          format: int32
          type: integer
        prevCursor:
          type: string
      type: object
    generatedSource:
      properties:
        agentHealthStatus:
          $ref: '#/components/schemas/generatedAgentHealthStatus'
        alationSourceId:
          format: int32
          type: integer
        atlanConnectionId:
          type: string
        authType:
          $ref: '#/components/schemas/generatedAuthType'
        bigqueryQueryProjectIds:
          type: string
        crossSourceAgentHealthStatus:
          $ref: '#/components/schemas/generatedAgentHealthStatus'
        dataSourceAgentVersion:
          type: string
        databaseName:
          type: string
        databaseType:
          $ref: '#/components/schemas/generatedWarehouseType'
        datadotworldConnectionId:
          type: string
        domain:
          type: string
        hostname:
          type: string
        id:
          format: int32
          type: integer
        ignoreSchemasPrefix:
          type: string
        indexingSchedule:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        isFavorite:
          type: boolean
        maxPoolSize:
          format: int32
          type: integer
        metricBatchSizeMetadata:
          format: int32
          type: integer
        metricBatchSizeQuery:
          format: int32
          type: integer
        metricRunNativeTemporalParallelism:
          format: int32
          type: integer
        name:
          type: string
        port:
          format: int32
          type: integer
        projectId:
          type: string
        queryTimeoutSeconds:
          format: int32
          type: integer
        schemaChangeInfo:
          $ref: '#/components/schemas/generatedSchemaChangeInfo'
        sensitiveDataAgentHealthStatus:
          $ref: '#/components/schemas/generatedAgentHealthStatus'
        serviceAccountEmail:
          type: string
        sourceMetadataOverrides:
          $ref: '#/components/schemas/generatedSourceMetadataOverrides'
        tags:
          items:
            $ref: '#/components/schemas/generatedTag'
          type: array
        targetBigqueryProjectId:
          type: string
        temporalAgentUuid:
          type: string
        username:
          type: string
        usesAgent:
          type: boolean
      type: object
    generatedSourceSortField:
      default: SOURCE_SORT_FIELD_UNSPECIFIED
      enum:
      - SOURCE_SORT_FIELD_UNSPECIFIED
      - SOURCE_SORT_FIELD_NAME
      - SOURCE_SORT_FIELD_FAVORITE
      type: string
    protobufAny:
      properties:
        typeUrl:
          type: string
        value:
          format: byte
          type: string
      type: object
    generatedEntityInfo:
      properties:
        createdBy:
          format: int32
          type: integer
        createdEpochSeconds:
          format: int64
          type: string
        updatedBy:
          format: int32
          type: integer
        updatedEpochSeconds:
          format: int64
          type: string
      type: object
    generatedWorkflowResponse:
      properties:
        workflowId:
          format: int64
          type: string
        workflowType:
          $ref: '#/components/schemas/generatedWorkflowProcessingType'
      type: object
    generatedCreateSourceRequest:
      properties:
        alationSourceId:
          format: int32
          type: integer
        atlanConnectionId:
          type: string
        authType:
          $ref: '#/components/schemas/generatedAuthType'
        bigqueryQueryProjectIds:
          type: string
        databaseName:
          type: string
        databaseType:
          $ref: '#/components/schemas/generatedWarehouseType'
        datadotworldConnectionId:
          type: string
        domain:
          type: string
        hostname:
          type: string
        id:
          format: int32
          type: integer
        ignoreSchemasPrefix:
          type: string
        indexingSchedule:
          $ref: '#/components/schemas/generatedMetricSchedule'
        maxPoolSize:
          format: int32
          type: integer
        name:
          type: string
        password:
          type: string
        port:
          format: int32
          type: integer
        privateKeyFile:
          title: base64 encoded json for BigQuery access keys
          type: string
        queryTimeoutSeconds:
          format: int32
          type: integer
        skipIndexing:
          type: boolean
        sourceMetadataOverrides:
          $ref: '#/components/schemas/generatedSourceMetadataOverrides'
        targetBigqueryProjectId:
          type: string
        temporalAgentSecret:
          type: string
        username:
          type: string
        workspaceId:
          format: int32
          type: integer
      type: object
    generatedWorkflowStatusResponse:
      properties:
        completedAt:
          format: int64
          type: string
        completedOps:
          format: int32
          type: integer
        startedAt:
          format: int64
          type: string
        status:
          $ref: '#/components/schemas/generatedWorkflowProcessingStatus'
        totalOps:
          format: int32
          type: integer
        workflowId:
          format: int64
          type: string
        workflowType:
          $ref: '#/components/schemas/generatedWorkflowProcessingType'
      type: object
    generatedAgentHealthStatus:
      default: AGENT_HEALTH_STATUS_UNSPECIFIED
      enum:
      - AGENT_HEALTH_STATUS_UNSPECIFIED
      - AGENT_HEALTH_STATUS_HEALTHY
      - AGENT_HEALTH_STATUS_SLOW_BUT_UP
      - AGENT_HEALTH_STATUS_DOWN
      - AGENT_HEALTH_STATUS_NO_DATA
      type: string
    generatedGetSourceListRequest:
      properties:
        pageCursor:
          type: string
        pageSize:
          format: int32
          type: integer
        search:
          type: string
        sortDirection:
          $ref: '#/components/schemas/generatedSortDirection'
        sortField:
          $ref: '#/components/schemas/generatedSourceSortField'
        workspaceId:
          format: int32
          type: integer
      type: object
    generatedMetricSchedule:
      properties:
        namedSchedule:
          $ref: '#/components/schemas/generatedNamedSchedule'
        scheduleFrequency:
          $ref: '#/components/schemas/generatedTimeInterval'
      type: object
    generatedSchemaChangeInfo:
      properties:
        initialSchemaScanAt:
          format: int64
          type: string
        lastSchemaChangeAt:
          format: int64
          type: string
        mostRecentSchemaScanAt:
          format: int64
          type: string
      type: object
    generatedGetSourceResponse:
      properties:
        source:
          $ref: '#/components/schemas/generatedSource'
      type: object
    generatedCreateSourceResponse:
      properties:
        schemaNames:
          items:
            type: string
          type: array
        source:
          $ref: '#/components/schemas/generatedSource'
      type: object
    generatedWarehouseType:
      default: DATABASE_TYPE_UNSPECIFIED
      enum:
      - DATABASE_TYPE_UNSPECIFIED
      - DATABASE_TYPE_AWS_ATHENA
      - DATABASE_TYPE_BIGQUERY
      - DATABASE_TYPE_DATABRICKS
      - DATABASE_TYPE_MYSQL
      - DATABASE_TYPE_ORACLE
      - DATABASE_TYPE_POSTGRES
      - DATABASE_TYPE_PRESTO
      - DATABASE_TYPE_REDSHIFT
      - DATABASE_TYPE_SAP_HANA
      - DATABASE_TYPE_SNOWFLAKE
      - DATABASE_TYPE_SQL_SERVER
      - DATABASE_TYPE_SYNAPSE
      - DATABASE_TYPE_ROCKSET
      - DATABASE_TYPE_VERTICA
      - DATABASE_TYPE_AVATICA
      - DATABASE_TYPE_DB2
      - DATABASE_TYPE_TERADATA
      - DATABASE_TYPE_NETEZZA
      - DATABASE_TYPE_SALESFORCE
      type: string
    generatedWorkflowProcessingStatus:
      default: WORKFLOW_PROCESSING_STATUS_UNSPECIFIED
      enum:
      - WORKFLOW_PROCESSING_STATUS_UNSPECIFIED
      - WORKFLOW_PROCESSING_STATUS_QUEUED
      - WORKFLOW_PROCESSING_STATUS_IN_PROGRESS
      - WORKFLOW_PROCESSING_STATUS_COMPLETED
      - WORKFLOW_PROCESSING_STATUS_PARTIAL_FAILURE
      - WORKFLOW_PROCESSING_STATUS_FAILED
      - WORKFLOW_PROCESSING_STATUS_TIMED_OUT
      type: string
    generatedIdAndDisplayName:
      properties:
        displayName:
          type: string
        id:
          format: int32
          type: integer
      type: object
    generatedWorkflowProcessingType:
      default: WORKFLOW_PROCESSING_TYPE_UNSPECIFIED
      enum:
      - WORKFLOW_PROCESSING_TYPE_UNSPECIFIED
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_SOURCE
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_SCHEMA
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_DATASET
      - WORKFLOW_PROCESSING_TYPE_LINEAGE
      - WORKFLOW_PROCESSING_TYPE_METADATA_METRICS
      - WORKFLOW_PROCESSING_TYPE_GENERATE_POP_SCORES
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_INTEGRATION
      - WORKFLOW_PROCESSING_TYPE_APPLY_BIGCONFIG
      - WORKFLOW_PROCESSING_TYPE_RUN_DELTA
      - WORKFLOW_PROCESSING_TYPE_RUN_COMPARISON_TABLE
      - WORKFLOW_PROCESSING_TYPE_RUN_METRIC_BATCH
      - WORKFLOW_PROCESSING_TYPE_PLAN_BIGCONFIG
      - WORKFLOW_PROCESSING_TYPE_METRIC_DEPLOY
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_INTEGRATION_ENTITY
      type: string
    runtimeError:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        error:
          type: string
        message:
          type: string
      type: object
    generatedAuthType:
      default: AUTH_TYPE_UNSPECIFIED
      enum:
      - AUTH_TYPE_UNSPECIFIED
      - AUTH_TYPE_PAT
      - AUTH_TYPE_OAUTH2_M2M
      - AUTH_TYPE_KEYPAIR
      - AUTH_TYPE_ACTIVE_DIR
      - AUTH_TYPE_USER_PASSWORD
      type: string
  requestBodies:
    generatedCreateSourceRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generatedCreateSourceRequest'
      required: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    Agent_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
    Personal_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
