openapi: 3.2.0
info:
  title: Metadata Favorite Service API
  version: version not set
servers:
- url: https://app.bigeye.com
security:
- basicAuth: []
- Personal_API_Key: []
tags:
- name: FavoriteService
paths:
  /api/v1/favorites/bulk:
    post:
      operationId: FavoriteService_BulkFavorite
      requestBody:
        $ref: '#/components/requestBodies/generatedBulkFavoriteRequest'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedBulkFavoriteResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Mark multiple entities as favorites
      tags:
      - FavoriteService
  /api/v1/favorites/unfavorite/bulk:
    post:
      operationId: FavoriteService_BulkUnfavorite
      requestBody:
        $ref: '#/components/requestBodies/generatedBulkFavoriteRequest'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedBulkFavoriteResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Remove multiple entities from favorites
      tags:
      - FavoriteService
  /api/v1/favorites:
    get:
      operationId: FavoriteService_GetFavorites
      parameters:
      - in: query
        name: workspaceId
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedFavoriteListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get favorites for the current user
      tags:
      - FavoriteService
    post:
      operationId: FavoriteService_Favorite
      requestBody:
        $ref: '#/components/requestBodies/generatedFavoriteRequest'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedEmpty'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Mark an entity as a favorite
      tags:
      - FavoriteService
  /api/v1/favorites/unfavorite:
    post:
      operationId: FavoriteService_Unfavorite
      requestBody:
        $ref: '#/components/requestBodies/generatedFavoriteRequest'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedEmpty'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Remove an entity from favorites
      tags:
      - FavoriteService
components:
  schemas:
    generatedEmpty:
      type: object
    generatedBulkFavoriteResponse:
      properties:
        failures:
          items:
            $ref: '#/components/schemas/generatedFavoriteFailure'
          type: array
        successes:
          items:
            $ref: '#/components/schemas/generatedFavoriteItem'
          type: array
      type: object
    generatedFavoriteItem:
      properties:
        entityId:
          format: int32
          type: integer
        entityName:
          type: string
        entityType:
          $ref: '#/components/schemas/generatedTaggableEntityType'
      type: object
    generatedFavoriteFailure:
      properties:
        favorite:
          $ref: '#/components/schemas/generatedFavoriteItem'
        reason:
          type: string
      type: object
    generatedFavoriteRequest:
      properties:
        favorite:
          $ref: '#/components/schemas/generatedFavoriteItem'
      type: object
    generatedFavoriteListResponse:
      properties:
        favorites:
          items:
            $ref: '#/components/schemas/generatedFavoriteItem'
          type: array
      type: object
    runtimeError:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        error:
          type: string
        message:
          type: string
      type: object
    generatedTaggableEntityType:
      default: TAGGABLE_ENTITY_TYPE_UNSPECIFIED
      enum:
      - TAGGABLE_ENTITY_TYPE_UNSPECIFIED
      - TAGGABLE_ENTITY_TYPE_SOURCE
      - TAGGABLE_ENTITY_TYPE_SCHEMA
      - TAGGABLE_ENTITY_TYPE_DATASET
      - TAGGABLE_ENTITY_TYPE_METRIC
      - TAGGABLE_ENTITY_TYPE_DELTA
      - TAGGABLE_ENTITY_TYPE_COLUMN
      - TAGGABLE_ENTITY_TYPE_SLA
      - TAGGABLE_ENTITY_TYPE_BI_TOOL
      - TAGGABLE_ENTITY_TYPE_N_WAY_DELTA
      - TAGGABLE_ENTITY_TYPE_VIRTUAL_TABLE
      - TAGGABLE_ENTITY_TYPE_INTEGRATION
      - TAGGABLE_ENTITY_TYPE_DBT_PROJECT
      - TAGGABLE_ENTITY_TYPE_DBT_JOB
      - TAGGABLE_ENTITY_TYPE_CUSTOM_RULE
      - TAGGABLE_ENTITY_TYPE_META_CENTER_ENTITY
      - TAGGABLE_ENTITY_TYPE_DATA_NODE_ENTITY
      - TAGGABLE_ENTITY_TYPE_META_CENTER_REPOSITORY
      - TAGGABLE_ENTITY_TYPE_CUSTOM_REPOSITORY
      type: string
    protobufAny:
      properties:
        typeUrl:
          type: string
        value:
          format: byte
          type: string
      type: object
    generatedBulkFavoriteRequest:
      properties:
        favorites:
          items:
            $ref: '#/components/schemas/generatedFavoriteItem'
          type: array
      type: object
  requestBodies:
    generatedFavoriteRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generatedFavoriteRequest'
      required: true
    generatedBulkFavoriteRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generatedBulkFavoriteRequest'
      required: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    Agent_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
    Personal_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
