openapi: 3.2.0
info:
  title: Sensitivity Data Class Category Service API
  version: version not set
servers:
- url: https://app.bigeye.com
security:
- basicAuth: []
- Personal_API_Key: []
tags:
- name: DataClassCategoryService
paths:
  /api/v1/sds/data-class-category/fetch:
    post:
      operationId: DataClassCategoryService_FetchDataClassCategories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedGetDataClassCategoryListRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedGetDataClassCategoryListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Fetch data class categories for a workspace
      tags:
      - DataClassCategoryService
components:
  schemas:
    generatedGetDataClassCategoryListRequest:
      properties:
        workspaceId:
          format: int32
          type: integer
      type: object
    generatedGetDataClassCategoryListResponse:
      properties:
        categories:
          items:
            $ref: '#/components/schemas/generatedDataClassCategory'
          type: array
      type: object
    generatedDataClassCategory:
      properties:
        description:
          type: string
        id:
          format: int64
          type: string
        name:
          type: string
        workspaceId:
          format: int32
          type: integer
      type: object
    runtimeError:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        error:
          type: string
        message:
          type: string
      type: object
    protobufAny:
      properties:
        typeUrl:
          type: string
        value:
          format: byte
          type: string
      type: object
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    Agent_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
    Personal_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
