openapi: 3.2.0
info:
  title: Metadata Config Service API
  version: version not set
servers:
- url: https://app.bigeye.com
security:
- basicAuth: []
- Personal_API_Key: []
tags:
- name: ConfigService
paths:
  /api/v1/configs/fetch:
    post:
      operationId: ConfigService_GetConfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedEmpty'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedGetConfigListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get configs
      tags:
      - ConfigService
  /api/v1/configs:
    put:
      operationId: ConfigService_UpdateConfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedUpdateConfigRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedGetConfigListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Update configs
      tags:
      - ConfigService
components:
  schemas:
    generatedEmpty:
      type: object
    generatedConfigValue:
      properties:
        booleanValue:
          type: boolean
        key:
          type: string
        numberValue:
          format: double
          type: number
        stringValue:
          type: string
        type:
          $ref: '#/components/schemas/generatedConfigValueType'
      type: object
    generatedGetConfigListResponse:
      properties:
        advancedConfigs:
          items:
            $ref: '#/components/schemas/generatedConfigValue'
          type: array
      type: object
    generatedConfigValueType:
      default: VALUE_TYPE_UNSPECIFIED
      enum:
      - VALUE_TYPE_UNSPECIFIED
      - VALUE_TYPE_STRING
      - VALUE_TYPE_BOOL
      - VALUE_TYPE_INTEGER
      - VALUE_TYPE_DECIMAL
      type: string
    runtimeError:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        error:
          type: string
        message:
          type: string
      type: object
    protobufAny:
      properties:
        typeUrl:
          type: string
        value:
          format: byte
          type: string
      type: object
    generatedUpdateConfigRequest:
      properties:
        advancedConfigs:
          items:
            $ref: '#/components/schemas/generatedConfigValue'
          type: array
      type: object
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    Agent_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
    Personal_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
