openapi: 3.2.0
info:
  title: Metadata Catalog Rebuilds Service API
  version: version not set
servers:
- url: https://app.bigeye.com
security:
- basicAuth: []
- Personal_API_Key: []
tags:
- name: CatalogRebuildsService
paths:
  /api/v1/rebuilds/schemas/{schemaId}:
    post:
      operationId: CatalogRebuildsService_UpdateSchema
      parameters:
      - in: path
        name: schemaId
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedRebuildSchemaRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedWorkflowResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Queue a catalog rebuild for a schema
      tags:
      - CatalogRebuildsService
  /api/v1/rebuilds/sources/{sourceId}:
    post:
      operationId: CatalogRebuildsService_UpdateSource
      parameters:
      - in: path
        name: sourceId
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedRebuildSourceRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedWorkflowResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Queue a catalog rebuild for a source
      tags:
      - CatalogRebuildsService
  /api/v1/rebuilds/tables/single-table/queue:
    post:
      operationId: CatalogRebuildsService_UpdateTable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedRebuildSingleTableRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedQueueSingleTableResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Queue a catalog rebuild for a table
      tags:
      - CatalogRebuildsService
components:
  schemas:
    generatedWorkflowV2Id:
      properties:
        runId:
          type: string
        workflowId:
          type: string
      type: object
    generatedWorkflowResponse:
      properties:
        workflowId:
          format: int64
          type: string
        workflowType:
          $ref: '#/components/schemas/generatedWorkflowProcessingType'
      type: object
    generatedQueueSingleTableResponse:
      properties:
        statusUrl:
          type: string
        workflowV2Id:
          $ref: '#/components/schemas/generatedWorkflowV2Id'
      type: object
    generatedWorkflowProcessingType:
      default: WORKFLOW_PROCESSING_TYPE_UNSPECIFIED
      enum:
      - WORKFLOW_PROCESSING_TYPE_UNSPECIFIED
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_SOURCE
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_SCHEMA
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_DATASET
      - WORKFLOW_PROCESSING_TYPE_LINEAGE
      - WORKFLOW_PROCESSING_TYPE_METADATA_METRICS
      - WORKFLOW_PROCESSING_TYPE_GENERATE_POP_SCORES
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_INTEGRATION
      - WORKFLOW_PROCESSING_TYPE_APPLY_BIGCONFIG
      - WORKFLOW_PROCESSING_TYPE_RUN_DELTA
      - WORKFLOW_PROCESSING_TYPE_RUN_COMPARISON_TABLE
      - WORKFLOW_PROCESSING_TYPE_RUN_METRIC_BATCH
      - WORKFLOW_PROCESSING_TYPE_PLAN_BIGCONFIG
      - WORKFLOW_PROCESSING_TYPE_METRIC_DEPLOY
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_INTEGRATION_ENTITY
      type: string
    runtimeError:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        error:
          type: string
        message:
          type: string
      type: object
    protobufAny:
      properties:
        typeUrl:
          type: string
        value:
          format: byte
          type: string
      type: object
    generatedRebuildSourceRequest:
      properties:
        priority:
          format: int32
          type: integer
      type: object
    generatedRebuildSingleTableRequest:
      properties:
        schemaName:
          type: string
        sourceId:
          format: int32
          type: integer
        tableName:
          type: string
      type: object
    generatedRebuildSchemaRequest:
      properties:
        priority:
          format: int32
          type: integer
      type: object
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    Agent_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
    Personal_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
