openapi: 3.2.0
info:
  title: Metadata Workflow Service API
  version: version not set
servers:
- url: https://app.bigeye.com
security:
- basicAuth: []
- Personal_API_Key: []
tags:
- name: WorkflowService
paths:
  /api/v1/workflows/{workflowId}/status:
    get:
      operationId: WorkflowService_GetWorkflowStatus
      parameters:
      - in: path
        name: workflowId
        required: true
        schema:
          type: string
          format: int64
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedWorkflowStatusResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get the current status for a workflow
      tags:
      - WorkflowService
components:
  schemas:
    generatedWorkflowStatusResponse:
      properties:
        completedAt:
          format: int64
          type: string
        completedOps:
          format: int32
          type: integer
        startedAt:
          format: int64
          type: string
        status:
          $ref: '#/components/schemas/generatedWorkflowProcessingStatus'
        totalOps:
          format: int32
          type: integer
        workflowId:
          format: int64
          type: string
        workflowType:
          $ref: '#/components/schemas/generatedWorkflowProcessingType'
      type: object
    generatedWorkflowProcessingStatus:
      default: WORKFLOW_PROCESSING_STATUS_UNSPECIFIED
      enum:
      - WORKFLOW_PROCESSING_STATUS_UNSPECIFIED
      - WORKFLOW_PROCESSING_STATUS_QUEUED
      - WORKFLOW_PROCESSING_STATUS_IN_PROGRESS
      - WORKFLOW_PROCESSING_STATUS_COMPLETED
      - WORKFLOW_PROCESSING_STATUS_PARTIAL_FAILURE
      - WORKFLOW_PROCESSING_STATUS_FAILED
      - WORKFLOW_PROCESSING_STATUS_TIMED_OUT
      type: string
    generatedWorkflowProcessingType:
      default: WORKFLOW_PROCESSING_TYPE_UNSPECIFIED
      enum:
      - WORKFLOW_PROCESSING_TYPE_UNSPECIFIED
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_SOURCE
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_SCHEMA
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_DATASET
      - WORKFLOW_PROCESSING_TYPE_LINEAGE
      - WORKFLOW_PROCESSING_TYPE_METADATA_METRICS
      - WORKFLOW_PROCESSING_TYPE_GENERATE_POP_SCORES
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_INTEGRATION
      - WORKFLOW_PROCESSING_TYPE_APPLY_BIGCONFIG
      - WORKFLOW_PROCESSING_TYPE_RUN_DELTA
      - WORKFLOW_PROCESSING_TYPE_RUN_COMPARISON_TABLE
      - WORKFLOW_PROCESSING_TYPE_RUN_METRIC_BATCH
      - WORKFLOW_PROCESSING_TYPE_PLAN_BIGCONFIG
      - WORKFLOW_PROCESSING_TYPE_METRIC_DEPLOY
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_INTEGRATION_ENTITY
      type: string
    runtimeError:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        error:
          type: string
        message:
          type: string
      type: object
    protobufAny:
      properties:
        typeUrl:
          type: string
        value:
          format: byte
          type: string
      type: object
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    Agent_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
    Personal_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
