openapi: 3.2.0
info:
  title: Observability Delta Service API
  version: version not set
servers:
- url: https://app.bigeye.com
security:
- basicAuth: []
- Personal_API_Key: []
tags:
- name: DeltaService
paths:
  /api/v1/deltas/bulk:
    put:
      operationId: DeltaService_BulkOperationDeltas
      requestBody:
        $ref: '#/components/requestBodies/generatedBulkDeltaOperation'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedBulkResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Perform bulk operations on deltas
      tags:
      - DeltaService
  /api/v1/deltas:
    post:
      operationId: DeltaService_CreateDelta
      requestBody:
        $ref: '#/components/requestBodies/generatedUpsertDeltaRequest'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedUpsertDeltaResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Create a delta
      tags:
      - DeltaService
    put:
      operationId: DeltaService_EditDelta
      requestBody:
        $ref: '#/components/requestBodies/generatedUpsertDeltaRequest'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedUpsertDeltaResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Update a delta
      tags:
      - DeltaService
  /api/v1/deltas/fetch:
    post:
      operationId: DeltaService_FetchDeltas
      requestBody:
        $ref: '#/components/requestBodies/generatedGetComparisonTableInfosRequest'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedGetDeltaInfosResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Fetch deltas with filters and pagination
      tags:
      - DeltaService
  /api/v1/deltas/{deltaId}:
    delete:
      operationId: DeltaService_DeleteDelta
      parameters:
      - in: path
        name: deltaId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedEmpty'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Delete a delta by ID
      tags:
      - DeltaService
    get:
      operationId: DeltaService_GetDelta
      parameters:
      - in: path
        name: deltaId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedDelta'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get a delta by ID
      tags:
      - DeltaService
  /api/v1/deltas/run/{deltaId}:
    get:
      operationId: DeltaService_RunDelta
      parameters:
      - in: path
        name: deltaId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedRunDeltaResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Run a delta by ID
      tags:
      - DeltaService
components:
  schemas:
    generatedTag:
      properties:
        colorHex:
          title: 'color_hex includes a # prefix (e.g. “#181818” is correct, “181818” is incorrect)'
          type: string
        createdAt:
          format: int64
          type: string
        id:
          format: int32
          type: integer
        name:
          type: string
        updatedAt:
          format: int64
          type: string
        workspaceId:
          format: int32
          type: integer
      title: Tags
      type: object
    generatedMetricType:
      properties:
        customRuleType:
          $ref: '#/components/schemas/generatedCustomRuleType'
        externalMonitor:
          $ref: '#/components/schemas/generatedExternalMonitor'
        isMetadataMetric:
          type: boolean
        isTableMetric:
          type: boolean
        predefinedMetric:
          $ref: '#/components/schemas/generatedPredefinedMetric'
        templateMetric:
          $ref: '#/components/schemas/generatedTemplateMetric'
      type: object
    generatedComparisonColumnInfo:
      properties:
        alertingGroupCount:
          format: int32
          type: integer
        alertingMetricCount:
          format: int64
          type: string
        failedGroupCount:
          format: int32
          type: integer
        failedMetricCount:
          format: int32
          type: integer
        isPartOfKey:
          type: boolean
        metrics:
          items:
            $ref: '#/components/schemas/generatedMetricType'
          type: array
        sourceColumn:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        targetColumn:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        totalGroupCount:
          format: int32
          type: integer
        totalMetricCount:
          format: int64
          type: string
        userDefined:
          type: boolean
      type: object
    generatedSimpleBoundType:
      default: UNDEFINED_SIMPLE_BOUND_TYPE
      enum:
      - UNDEFINED_SIMPLE_BOUND_TYPE
      - LOWER_BOUND_SIMPLE_BOUND_TYPE
      - UPPER_BOUND_SIMPLE_BOUND_TYPE
      type: string
    generatedColumnCorrelation:
      properties:
        columnCorrelationString:
          type: string
        datasetId:
          format: int32
          type: integer
      type: object
    generatedTimeIntervalType:
      default: UNDEFINED_TIME_INTERVAL_TYPE
      enum:
      - UNDEFINED_TIME_INTERVAL_TYPE
      - HOURS_TIME_INTERVAL_TYPE
      - MINUTES_TIME_INTERVAL_TYPE
      - SECONDS_TIME_INTERVAL_TYPE
      - DAYS_TIME_INTERVAL_TYPE
      - WEEKDAYS_TIME_INTERVAL_TYPE
      - MARKET_DAYS_TIME_INTERVAL_TYPE
      - MONTHS_TIME_INTERVAL_TYPE
      - WEEKS_TIME_INTERVAL_TYPE
      - YEARS_TIME_INTERVAL_TYPE
      type: string
    generatedGetDeltaInfosResponse:
      properties:
        deltaInfos:
          items:
            $ref: '#/components/schemas/generatedDeltaInfo'
          type: array
        paginationInfo:
          $ref: '#/components/schemas/generatedPaginationInfo'
      type: object
    generatedJoin:
      properties:
        entityInfo:
          $ref: '#/components/schemas/generatedEntityInfo'
        id:
          format: int32
          type: integer
        keyColumns:
          items:
            $ref: '#/components/schemas/generatedJoinColumnPairing'
          type: array
        leftFilter:
          $ref: '#/components/schemas/generatedJoinTableFilter'
        leftTable:
          $ref: '#/components/schemas/generatedTable'
        rightFilter:
          $ref: '#/components/schemas/generatedJoinTableFilter'
        rightTable:
          $ref: '#/components/schemas/generatedTable'
      type: object
    generatedMetricParameter:
      properties:
        columnName:
          type: string
        key:
          type: string
        numberValue:
          format: double
          type: number
        stringValue:
          type: string
      type: object
    generatedCatalogEntityType:
      default: CATALOG_ENTITY_TYPE_UNSPECIFIED
      enum:
      - CATALOG_ENTITY_TYPE_UNSPECIFIED
      - CATALOG_ENTITY_TYPE_SOURCE
      - CATALOG_ENTITY_TYPE_SCHEMA
      - CATALOG_ENTITY_TYPE_DATASET
      - CATALOG_ENTITY_TYPE_FIELD
      - CATALOG_ENTITY_TYPE_DATA_NODE_ENTITY
      - CATALOG_ENTITY_TYPE_META_CENTER_ENTITY
      type: string
    generatedRelativeThreshold:
      properties:
        bound:
          $ref: '#/components/schemas/generatedSimpleBound'
        lookback:
          $ref: '#/components/schemas/generatedTimeInterval'
      type: object
    generatedThreshold:
      properties:
        autoThreshold:
          $ref: '#/components/schemas/generatedAutoThreshold'
        constantThreshold:
          $ref: '#/components/schemas/generatedConstantThreshold'
        freshnessScheduleThreshold:
          $ref: '#/components/schemas/generatedFreshnessScheduleThreshold'
        noneThreshold:
          $ref: '#/components/schemas/generatedNoneThreshold'
        relativeThreshold:
          $ref: '#/components/schemas/generatedRelativeThreshold'
        standardDeviationThreshold:
          $ref: '#/components/schemas/generatedStandardDeviationThreshold'
      type: object
    generatedBulkResponse:
      properties:
        failedUpdates:
          items:
            $ref: '#/components/schemas/generatedFailedUpdate'
          type: array
        notRunIds:
          items:
            format: int32
            type: integer
          type: array
        successfulIds:
          items:
            format: int32
            type: integer
          type: array
      type: object
    generatedCustomRulesThresholdType:
      default: CUSTOM_RULES_THRESHOLD_TYPE_UNSPECIFIED
      enum:
      - CUSTOM_RULES_THRESHOLD_TYPE_UNSPECIFIED
      - CUSTOM_RULES_THRESHOLD_TYPE_COUNT
      - CUSTOM_RULES_THRESHOLD_TYPE_VALUE
      - CUSTOM_RULES_THRESHOLD_TYPE_PERCENT_MATCH
      type: string
    generatedMetricMetadata:
      properties:
        companionMetrics:
          items:
            $ref: '#/components/schemas/generatedCompanionMetric'
          type: array
        createdAt:
          format: int64
          type: string
        currentMetricStatus:
          $ref: '#/components/schemas/generatedMetricStatus'
        datasetId:
          format: int32
          type: integer
        datasetName:
          type: string
        datasetTimeColumnName:
          type: string
        deletedAt:
          format: int64
          type: string
        fieldId:
          format: int32
          type: integer
        fieldName:
          type: string
        isFavorite:
          type: boolean
        metricHistoryBeginAt:
          format: int64
          type: string
        metricHistoryEndAt:
          format: int64
          type: string
        monitoredObjects:
          items:
            $ref: '#/components/schemas/generatedMonitoredObject'
          type: array
        runAt:
          format: int64
          type: string
        schemaId:
          format: int32
          type: integer
        schemaName:
          type: string
        statisticFullName:
          type: string
        statisticName:
          type: string
        updatedAt:
          format: int64
          type: string
        warehouseId:
          format: int32
          type: integer
        warehouseName:
          type: string
        workspaceId:
          format: int32
          type: integer
      type: object
    generatedComparisonTableConfiguration:
      properties:
        columnMappings:
          items:
            $ref: '#/components/schemas/generatedComparisonColumnMapping'
          type: array
        entityInfo:
          $ref: '#/components/schemas/generatedEntityInfo'
        groupBys:
          items:
            $ref: '#/components/schemas/generatedColumnNamePair'
          type: array
        id:
          format: int32
          type: integer
        name:
          type: string
        namedSchedule:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        sourceFilters:
          items:
            type: string
          type: array
        sourceTableId:
          format: int32
          type: integer
        targetFilters:
          items:
            type: string
          type: array
        targetSchema:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        targetTable:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        targetTableId:
          format: int32
          type: integer
        tolerance:
          format: double
          type: number
      type: object
    generatedWebhookHeader:
      properties:
        key:
          type: string
        value:
          type: string
      type: object
    generatedColumnNamePair:
      properties:
        sourceColumnName:
          type: string
        targetColumnName:
          type: string
      type: object
    generatedAggregationType:
      default: UNDEFINED_AGGREGATION_TYPE
      enum:
      - UNDEFINED_AGGREGATION_TYPE
      - COUNT_AGGREGATION_TYPE
      - PERCENT_AGGREGATION_TYPE
      - MIN_AGGREGATION_TYPE
      - MAX_AGGREGATION_TYPE
      - AVG_AGGREGATION_TYPE
      - SUM_AGGREGATION_TYPE
      type: string
    generatedTemplateMetric:
      properties:
        aggregationType:
          $ref: '#/components/schemas/generatedAggregationType'
        templateId:
          format: int32
          type: integer
        templateName:
          type: string
      type: object
    generatedMonitorType:
      default: MONITOR_TYPE_UNDEFINED
      enum:
      - MONITOR_TYPE_UNDEFINED
      - MONITOR_TYPE_METRIC
      - MONITOR_TYPE_DBT_TEST
      - MONITOR_TYPE_CUSTOM_RULE
      type: string
    generatedIssueExternalTicketInfo:
      properties:
        externalTicketId:
          type: string
        externalTicketProvider:
          $ref: '#/components/schemas/generatedExternalTicketProvider'
        externalTicketUrl:
          type: string
        issueId:
          format: int32
          type: integer
      type: object
    generatedAutothresholdSensitivity:
      default: AUTOTHRESHOLD_SENSITIVITY_UNSPECIFIED
      enum:
      - AUTOTHRESHOLD_SENSITIVITY_UNSPECIFIED
      - AUTOTHRESHOLD_SENSITIVITY_NARROW
      - AUTOTHRESHOLD_SENSITIVITY_MEDIUM
      - AUTOTHRESHOLD_SENSITIVITY_WIDE
      - AUTOTHRESHOLD_SENSITIVITY_XWIDE
      type: string
    generatedWarehouseType:
      default: DATABASE_TYPE_UNSPECIFIED
      enum:
      - DATABASE_TYPE_UNSPECIFIED
      - DATABASE_TYPE_AWS_ATHENA
      - DATABASE_TYPE_BIGQUERY
      - DATABASE_TYPE_DATABRICKS
      - DATABASE_TYPE_MYSQL
      - DATABASE_TYPE_ORACLE
      - DATABASE_TYPE_POSTGRES
      - DATABASE_TYPE_PRESTO
      - DATABASE_TYPE_REDSHIFT
      - DATABASE_TYPE_SAP_HANA
      - DATABASE_TYPE_SNOWFLAKE
      - DATABASE_TYPE_SQL_SERVER
      - DATABASE_TYPE_SYNAPSE
      - DATABASE_TYPE_ROCKSET
      - DATABASE_TYPE_VERTICA
      - DATABASE_TYPE_AVATICA
      - DATABASE_TYPE_DB2
      - DATABASE_TYPE_TERADATA
      - DATABASE_TYPE_NETEZZA
      - DATABASE_TYPE_SALESFORCE
      type: string
    generatedJoinColumnPairing:
      properties:
        entityInfo:
          $ref: '#/components/schemas/generatedEntityInfo'
        id:
          format: int32
          type: integer
        leftColumn:
          $ref: '#/components/schemas/generatedTableColumn'
        rightColumn:
          $ref: '#/components/schemas/generatedTableColumn'
      type: object
    generatedWhereClause:
      properties:
        collectionIds:
          items:
            format: int32
            type: integer
          type: array
        columnIds:
          items:
            format: int32
            type: integer
          type: array
        customRuleIds:
          items:
            format: int32
            type: integer
          type: array
        customRuleTypes:
          items:
            $ref: '#/components/schemas/generatedCustomRuleType'
          type: array
        dimensionIds:
          items:
            format: int32
            type: integer
          type: array
        ids:
          items:
            format: int32
            type: integer
          type: array
        metricTypes:
          items:
            $ref: '#/components/schemas/generatedPredefinedMetricName'
          type: array
        monitorTypes:
          items:
            $ref: '#/components/schemas/generatedMonitorType'
          type: array
        schemaIds:
          items:
            format: int32
            type: integer
          type: array
        search:
          type: string
        searchAll:
          type: boolean
        sourceIds:
          items:
            format: int32
            type: integer
          type: array
        statuses:
          items:
            type: string
          type: array
        tableIds:
          items:
            format: int32
            type: integer
          type: array
        templateIds:
          items:
            format: int32
            type: integer
          type: array
        workspaceId:
          format: int32
          type: integer
      type: object
    generatedTableType:
      default: TABLE_TYPE_UNSPECIFIED
      enum:
      - TABLE_TYPE_UNSPECIFIED
      - TABLE_TYPE_TABLE
      - TABLE_TYPE_VIEW
      - TABLE_TYPE_VIRTUAL
      - TABLE_TYPE_CUSTOM_RULE
      type: string
    generatedMetricGroupOverride:
      properties:
        groupDimensions:
          items:
            $ref: '#/components/schemas/generatedMetricGroupDimension'
          type: array
        groupName:
          type: string
        thresholds:
          items:
            $ref: '#/components/schemas/generatedThreshold'
          type: array
      type: object
    generatedMetricObservedColumnResponse:
      properties:
        column:
          $ref: '#/components/schemas/generatedColumnWithTable'
        comments:
          type: string
        customRule:
          $ref: '#/components/schemas/generatedCustomRuleInfo'
        entityInfo:
          $ref: '#/components/schemas/generatedEntityInfo'
        metric:
          $ref: '#/components/schemas/generatedMetricInfo'
      type: object
    generatedRowCreationTimeFilter:
      properties:
        lookback:
          $ref: '#/components/schemas/generatedTimeInterval'
        rctColumn:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
      type: object
    generatedSlackChannelInfo:
      properties:
        channelId:
          type: string
        channelName:
          type: string
        issueThreadPermalink:
          type: string
        threadTs:
          type: string
      type: object
    generatedEmpty:
      type: object
    generatedGetComparisonTableInfosRequest:
      properties:
        comparisonTableIds:
          items:
            format: int32
            type: integer
          type: array
        dimensionIds:
          items:
            format: int32
            type: integer
          type: array
        excludeComparisonMetrics:
          type: boolean
        pageCursor:
          type: string
        pageSize:
          format: int32
          type: integer
        search:
          type: string
        sortDirection:
          $ref: '#/components/schemas/generatedSortDirection'
        sortField:
          $ref: '#/components/schemas/generatedComparisonTableSortField'
        tagIds:
          items:
            format: int32
            type: integer
          type: array
        workspaceId:
          format: int32
          type: integer
      type: object
    generatedExternalTicketProvider:
      default: EXTERNAL_TICKET_PROVIDER_UNSPECIFIED
      enum:
      - EXTERNAL_TICKET_PROVIDER_UNSPECIFIED
      - EXTERNAL_TICKET_PROVIDER_JIRA
      - EXTERNAL_TICKET_PROVIDER_SERVICENOW
      type: string
    generatedSortDirection:
      default: SORT_DIRECTION_UNSPECIFIED
      enum:
      - SORT_DIRECTION_UNSPECIFIED
      - SORT_DIRECTION_ASCENDING
      - SORT_DIRECTION_DESCENDING
      title: Unspecified will default to ASCENDING
      type: string
    generatedMetricStatus:
      default: METRIC_STATUS_UNSPECIFIED
      enum:
      - METRIC_STATUS_UNSPECIFIED
      - METRIC_STATUS_ALERTING
      - METRIC_STATUS_FAILED
      - METRIC_STATUS_HEALTHY
      - METRIC_STATUS_NO_OBSERVED_VALUE
      - METRIC_STATUS_GROUPS_MIXED_STATUS
      type: string
    generatedMetricRunAnnotation:
      properties:
        entityInfo:
          $ref: '#/components/schemas/generatedEntityInfo'
        id:
          format: int32
          type: integer
        metricRunId:
          format: int32
          type: integer
        metricRunLabel:
          $ref: '#/components/schemas/generatedMetricRunLabel'
      type: object
    generatedMetricRun:
      properties:
        exceptionClass:
          type: string
        exceptionMessage:
          type: string
        failureReason:
          $ref: '#/components/schemas/generatedMetricRunFailureReason'
        grainEndEpochSeconds:
          format: int64
          title: end of grain for METRIC_TIME based runs
          type: string
        grainStartEpochSeconds:
          format: int64
          title: start of grain for METRIC_TIME based runs
          type: string
        groupDimensions:
          items:
            $ref: '#/components/schemas/generatedMetricGroupDimension'
          type: array
        groupName:
          type: string
        hasRowCounts:
          type: boolean
        hasRowsMatched:
          type: boolean
        id:
          format: int32
          type: integer
        isPosthoc:
          type: boolean
        metricRunAnnotation:
          $ref: '#/components/schemas/generatedMetricRunAnnotation'
        observedValue:
          format: double
          type: number
        rowsMatched:
          format: int64
          type: string
        rowsScanned:
          format: int64
          type: string
        runAtEpochSeconds:
          format: int64
          type: string
        status:
          $ref: '#/components/schemas/generatedMetricRunStatus'
        summaryStatus:
          $ref: '#/components/schemas/generatedMetricStatus'
        thresholds:
          items:
            $ref: '#/components/schemas/generatedConstantThreshold'
          type: array
      type: object
    generatedNamedSchedule:
      properties:
        cron:
          type: string
        entityInfo:
          $ref: '#/components/schemas/generatedEntityInfo'
        id:
          format: int32
          type: integer
        name:
          type: string
        timezone:
          description: IANA timezone id (e.g. "America/New_York") used to interpret the cron. Defaults to UTC when unset.
          type: string
      type: object
    generatedDeltaInfo:
      properties:
        comparisonTargetInfos:
          items:
            $ref: '#/components/schemas/generatedDeltaTargetInfo'
          type: array
        delta:
          $ref: '#/components/schemas/generatedDelta'
        isFavorite:
          type: boolean
        nextRunEpochSeconds:
          format: int64
          type: string
      type: object
    generatedMetricRunLabel:
      default: METRIC_RUN_LABEL_UNSPECIFIED
      enum:
      - METRIC_RUN_LABEL_UNSPECIFIED
      - METRIC_RUN_LABEL_TRUE_NEGATIVE
      - METRIC_RUN_LABEL_FALSE_NEGATIVE
      - METRIC_RUN_LABEL_TRUE_POSITIVE
      - METRIC_RUN_LABEL_FALSE_POSITIVE
      - METRIC_RUN_LABEL_UNDETERMINED
      - METRIC_RUN_LABEL_EXPECTED
      type: string
    generatedCustomRuleInfo:
      properties:
        activeIssue:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        collections:
          items:
            $ref: '#/components/schemas/generatedIdAndDisplayName'
          type: array
        createdAtEpochSeconds:
          format: int64
          type: string
        createdBy:
          $ref: '#/components/schemas/generatedUser'
        customRule:
          $ref: '#/components/schemas/generatedCustomRule'
        id:
          format: int32
          type: integer
        isFavorite:
          type: boolean
        latestRuns:
          items:
            $ref: '#/components/schemas/generatedMetricRun'
          type: array
        metricId:
          format: int32
          type: integer
        updatedAtEpochSeconds:
          format: int64
          type: string
        updatedBy:
          $ref: '#/components/schemas/generatedUser'
        warehouse:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
      type: object
    generatedPaginationInfo:
      properties:
        firstSortDistinctValues:
          format: int64
          type: string
        nextCursor:
          type: string
        noNumRecords:
          type: boolean
        numRecords:
          format: int32
          type: integer
        prevCursor:
          type: string
      type: object
    generatedDeltaTargetInfo:
      properties:
        alertingGroupCount:
          format: int32
          type: integer
        alertingMetricCount:
          format: int64
          type: string
        comparisonColumnInfos:
          items:
            $ref: '#/components/schemas/generatedComparisonColumnInfo'
          type: array
        comparisonMetricInfos:
          items:
            $ref: '#/components/schemas/generatedComparisonMetricInfo'
          type: array
        failedGroupCount:
          format: int32
          type: integer
        failedMetricCount:
          format: int64
          type: string
        isTargetTableDeleted:
          type: boolean
        keysInAllCount:
          format: int64
          type: string
        keysOnlyInSourceCount:
          format: int64
          type: string
        keysOnlyInTargetCount:
          format: int64
          type: string
        lastRunAtEpochSeconds:
          format: int64
          type: string
        metricCount:
          format: int64
          type: string
        schemaMatch:
          type: boolean
        sourceRowCount:
          format: int64
          type: string
        targetRowCount:
          format: int64
          type: string
        targetSchema:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        targetSource:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        targetTable:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        targetWarehouseType:
          $ref: '#/components/schemas/generatedWarehouseType'
        totalGroupCount:
          format: int32
          type: integer
      type: object
    generatedEntityInfo:
      properties:
        createdBy:
          format: int32
          type: integer
        createdEpochSeconds:
          format: int64
          type: string
        updatedBy:
          format: int32
          type: integer
        updatedEpochSeconds:
          format: int64
          type: string
      type: object
    generatedStandardDeviationThreshold:
      properties:
        bound:
          $ref: '#/components/schemas/generatedSimpleBound'
        lookback:
          $ref: '#/components/schemas/generatedTimeInterval'
      type: object
    generatedRunDeltaResponse:
      properties:
        deltaInfo:
          $ref: '#/components/schemas/generatedDeltaInfo'
        workflowInfo:
          $ref: '#/components/schemas/generatedWorkflowResponse'
      type: object
    generatedComparisonMetricStatus:
      enum:
      - COMPARISON_METRIC_STATUS_UNKNOWN
      - COMPARISON_METRIC_STATUS_OK
      - COMPARISON_METRIC_STATUS_ALERT
      - COMPARISON_METRIC_STATUS_OK_NO_RUNS
      type: string
    generatedMetricRunStatus:
      default: METRIC_RUN_STATUS_UNSPECIFIED
      enum:
      - METRIC_RUN_STATUS_UNSPECIFIED
      - METRIC_RUN_STATUS_UPPERBOUND_CRITICAL
      - METRIC_RUN_STATUS_LOWERBOUND_CRITICAL
      - METRIC_RUN_STATUS_OK
      - METRIC_RUN_STATUS_GROUPS_CRITICAL
      - METRIC_RUN_STATUS_NO_RUNS
      - METRIC_RUN_STATUS_UNKNOWN
      - METRIC_RUN_STATUS_MUTABLE_UNKNOWN
      - METRIC_RUN_STATUS_MUTABLE_UPPERBOUND_CRITICAL
      - METRIC_RUN_STATUS_MUTABLE_LOWERBOUND_CRITICAL
      - METRIC_RUN_STATUS_MUTABLE_OK
      - METRIC_RUN_STATUS_GROUPS_LIMIT_FAILED
      title: "- METRIC_RUN_STATUS_UNSPECIFIED: deprecated in favor of MetricStatus\n - METRIC_RUN_STATUS_GROUPS_CRITICAL: METRIC_RUN_STATUS_GROUPS_CRITICAL is not a valid value for MetricRun.status (it only applies to MetricInfo.status)\n - METRIC_RUN_STATUS_NO_RUNS: METRIC_RUN_STATUS_NO_RUNS is not a valid value for MetricRun.status (it only applies to MetricInfo.status)"
      type: string
    generatedPredefinedMetricName:
      default: UNDEFINED_PREDEFINED_METRIC_NAME
      enum:
      - UNDEFINED_PREDEFINED_METRIC_NAME
      - PERCENT_NULL
      - COUNT_NULL
      - PERCENT_EMPTY_STRING
      - COUNT_EMPTY_STRING
      - PERCENT_UNIQUE
      - PERCENT_VALUE_IN_LIST
      - AVERAGE
      - MIN
      - MAX
      - SUM
      - COUNT_ROWS
      - COUNT_DISTINCT
      - HOURS_SINCE_MAX_DATE
      - HOURS_SINCE_MAX_TIMESTAMP
      - COUNT_TRUE
      - PERCENT_TRUE
      - COUNT_FALSE
      - PERCENT_FALSE
      - COUNT_USA_PHONE
      - PERCENT_USA_PHONE
      - COUNT_USA_ZIP_CODE
      - PERCENT_USA_ZIP_CODE
      - PERCENT_UUID
      - COUNT_TIMESTAMP_STRING
      - PERCENT_TIMESTAMP_STRING
      - COUNT_DUPLICATES
      - COUNT_USA_STATE_CODE
      - PERCENT_USA_STATE_CODE
      - VARIANCE
      - SKEW
      - KURTOSIS
      - GEOMETRIC_MEAN
      - HARMONIC_MEAN
      - COUNT_UUID
      - COUNT_CUSIP
      - PERCENT_CUSIP
      - COUNT_SEDOL
      - PERCENT_SEDOL
      - COUNT_ISIN
      - PERCENT_ISIN
      - COUNT_LEI
      - PERCENT_LEI
      - COUNT_FIGI
      - PERCENT_FIGI
      - COUNT_PERM_ID
      - PERCENT_PERM_ID
      - COUNT_NAN
      - PERCENT_NAN
      - COUNT_LONGITUDE
      - PERCENT_LONGITUDE
      - COUNT_LATITUDE
      - PERCENT_LATITUDE
      - COUNT_NOT_IN_FUTURE
      - PERCENT_NOT_IN_FUTURE
      - COUNT_DATE_NOT_IN_FUTURE
      - PERCENT_DATE_NOT_IN_FUTURE
      - MEDIAN
      - PERCENTILE
      - COUNT_NOT_NULL
      - STRING_LENGTH_AVERAGE
      - STRING_LENGTH_MIN
      - STRING_LENGTH_MAX
      - COUNT_SSN
      - PERCENT_SSN
      - COUNT_EMAIL
      - PERCENT_EMAIL
      - ROWS_INSERTED
      - HOURS_SINCE_LAST_LOAD
      - COUNT_READ_QUERIES
      - PERCENT_NOT_NULL
      - FRESHNESS
      - VOLUME
      - FRESHNESS_DATA
      - VOLUME_DATA
      - COUNT_VALUE_IN_LIST
      - PERCENT_DISTINCT
      - PERCENT_DUPLICATES
      - HOURS_SINCE_MAX_STRING
      type: string
    generatedUpsertDeltaRequest:
      properties:
        delta:
          $ref: '#/components/schemas/generatedDelta'
        workspaceId:
          format: int32
          type: integer
      type: object
    generatedExternalMonitorType:
      default: EXTERNAL_MONITOR_TYPE_UNDEFINED
      enum:
      - EXTERNAL_MONITOR_TYPE_UNDEFINED
      - EXTERNAL_MONITOR_TYPE_DBT_TEST
      type: string
    generatedBulkDeltaOperation:
      properties:
        editRequest:
          $ref: '#/components/schemas/generatedTableComparisonBatchEditRequest'
        isDelete:
          type: boolean
        isRun:
          type: boolean
        where:
          $ref: '#/components/schemas/generatedWhereClause'
      type: object
    generatedFreshnessScheduleThreshold:
      properties:
        bound:
          $ref: '#/components/schemas/generatedSimpleBound'
        cron:
          type: string
        delayAtUpdate:
          $ref: '#/components/schemas/generatedTimeInterval'
        timezone:
          type: string
      type: object
    generatedWebhook:
      properties:
        webhookHeaders:
          items:
            $ref: '#/components/schemas/generatedWebhookHeader'
          type: array
        webhookUrl:
          type: string
      type: object
    generatedConstantThreshold:
      properties:
        bound:
          $ref: '#/components/schemas/generatedSimpleBound'
      type: object
    generatedCompanionMetric:
      properties:
        id:
          format: int32
          type: integer
        metricInfo:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        type:
          $ref: '#/components/schemas/generatedCompanionMetricType'
      type: object
    generatedJoinType:
      default: JOIN_TYPE_UNSPECIFIED
      enum:
      - JOIN_TYPE_UNSPECIFIED
      - JOIN_TYPE_INNER
      - JOIN_TYPE_LEFT
      - JOIN_TYPE_RIGHT
      - JOIN_TYPE_FULL
      type: string
    generatedUser:
      properties:
        email:
          type: string
        groups:
          items:
            $ref: '#/components/schemas/generatedIdAndDisplayName'
          type: array
        id:
          format: int32
          type: integer
        idpGroups:
          items:
            type: string
          type: array
        isServiceAccount:
          type: boolean
        lastLoginAt:
          format: int64
          type: string
        name:
          type: string
        pictureUrl:
          type: string
      type: object
    generatedTimeInterval:
      properties:
        intervalType:
          $ref: '#/components/schemas/generatedTimeIntervalType'
        intervalValue:
          format: int32
          type: integer
      type: object
    generatedTable:
      description: '*

        Representation of a table in a warehouse.'
      properties:
        columns:
          items:
            $ref: '#/components/schemas/generatedTableColumn'
          type: array
        dataNodeId:
          format: int32
          type: integer
        databaseName:
          type: string
        id:
          format: int32
          type: integer
        isFavorite:
          type: boolean
        latestMetricTimeValue:
          format: int64
          type: string
        logicalSizeBytes:
          format: int64
          type: string
        metricTimeColumn:
          $ref: '#/components/schemas/generatedTableColumn'
        name:
          type: string
        numQueriesLatestPeriod:
          format: int32
          type: integer
        popularityScore:
          format: double
          type: number
        requiresPartitionFilter:
          type: boolean
        schema:
          $ref: '#/components/schemas/generatedSchema'
        schemaChangeInfo:
          $ref: '#/components/schemas/generatedSchemaChangeInfo'
        schemaId:
          format: int32
          type: integer
        schemaName:
          type: string
        sizeLastUpdatedAtMillis:
          format: int64
          type: string
        tableType:
          $ref: '#/components/schemas/generatedTableType'
        tags:
          items:
            $ref: '#/components/schemas/generatedTag'
          type: array
        usesAgent:
          type: boolean
        warehouseId:
          format: int32
          type: integer
        warehouseName:
          type: string
        warehouseVendor:
          $ref: '#/components/schemas/generatedWarehouseType'
      type: object
    generatedPredefinedMetric:
      properties:
        metricName:
          $ref: '#/components/schemas/generatedPredefinedMetricName'
      type: object
    generatedUpsertDeltaResponse:
      properties:
        delta:
          $ref: '#/components/schemas/generatedDelta'
      type: object
    generatedMetricInfo:
      properties:
        activeIssue:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        canBackfill:
          type: boolean
        collections:
          items:
            $ref: '#/components/schemas/generatedIdAndDisplayName'
          type: array
        criticalGroupCount:
          format: int32
          type: integer
        groupCount:
          format: int32
          type: integer
        isBackfillDestructive:
          type: boolean
        isSnoozed:
          type: boolean
        latestMetricRuns:
          items:
            $ref: '#/components/schemas/generatedMetricRun'
          title: Latest metric run results
          type: array
        metricConfiguration:
          $ref: '#/components/schemas/generatedMetricConfiguration'
        metricMetadata:
          $ref: '#/components/schemas/generatedMetricMetadata'
        noValueGroupCount:
          format: int32
          type: integer
        reasonCannotBackfill:
          type: string
        status:
          $ref: '#/components/schemas/generatedMetricRunStatus'
        tags:
          items:
            $ref: '#/components/schemas/generatedTag'
          type: array
      type: object
    protobufAny:
      properties:
        typeUrl:
          type: string
        value:
          format: byte
          type: string
      type: object
    generatedComparisonMetricInfo:
      properties:
        comparisonMetricConfiguration:
          $ref: '#/components/schemas/generatedComparisonMetricConfiguration'
        criticalGroupCount:
          format: int32
          type: integer
        difference:
          format: double
          type: number
        exceptionClass:
          type: string
        exceptionMessage:
          type: string
        failedGroupCount:
          format: int32
          type: integer
        groupCount:
          format: int32
          type: integer
        sourceFailed:
          type: boolean
        sourceMetricInfo:
          $ref: '#/components/schemas/generatedMetricInfo'
        sourceValue:
          format: double
          type: number
        status:
          $ref: '#/components/schemas/generatedComparisonMetricStatus'
        targetFailed:
          type: boolean
        targetMetricInfo:
          $ref: '#/components/schemas/generatedMetricInfo'
        targetValue:
          format: double
          type: number
      type: object
    generatedWorkflowResponse:
      properties:
        workflowId:
          format: int64
          type: string
        workflowType:
          $ref: '#/components/schemas/generatedWorkflowProcessingType'
      type: object
    generatedForecastModelType:
      default: UNDEFINED_THRESHOLD_MODEL_TYPE
      enum:
      - UNDEFINED_THRESHOLD_MODEL_TYPE
      type: string
    generatedNoneThreshold:
      type: object
    generatedMetricSchedule:
      properties:
        namedSchedule:
          $ref: '#/components/schemas/generatedNamedSchedule'
        scheduleFrequency:
          $ref: '#/components/schemas/generatedTimeInterval'
      type: object
    generatedComparisonMetricConfiguration:
      properties:
        comparisonTableId:
          format: int32
          type: integer
        id:
          format: int32
          type: integer
        metric:
          $ref: '#/components/schemas/generatedMetricType'
        sourceColumnName:
          type: string
        sourceMetricConfiguration:
          $ref: '#/components/schemas/generatedMetricConfiguration'
        targetColumnName:
          type: string
        targetMetricConfiguration:
          $ref: '#/components/schemas/generatedMetricConfiguration'
        tolerance:
          format: double
          type: number
      type: object
    generatedSchemaChangeInfo:
      properties:
        initialSchemaScanAt:
          format: int64
          type: string
        lastSchemaChangeAt:
          format: int64
          type: string
        mostRecentSchemaScanAt:
          format: int64
          type: string
      type: object
    generatedTableComparisonBatchEditRequest:
      properties:
        dimensionId:
          format: int32
          type: integer
        namedScheduleId:
          format: int32
          type: integer
        removeNamedSchedule:
          type: boolean
        tableComparisonIds:
          items:
            format: int32
            type: integer
          type: array
      type: object
    generatedLookbackType:
      default: UNDEFINED_LOOKBACK_TYPE
      enum:
      - UNDEFINED_LOOKBACK_TYPE
      - DATA_TIME_LOOKBACK_TYPE
      - CLOCK_TIME_LOOKBACK_TYPE
      - METRIC_TIME_LOOKBACK_TYPE
      type: string
    generatedDelta:
      properties:
        alertingMetricCount:
          format: int64
          type: string
        comparisonTableConfigurations:
          items:
            $ref: '#/components/schemas/generatedComparisonTableConfiguration'
          type: array
        dimension:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        entityInfo:
          $ref: '#/components/schemas/generatedEntityInfo'
        failedMetricCount:
          format: int64
          type: string
        id:
          format: int32
          type: integer
        isSourceTableDeleted:
          type: boolean
        lastRunAtEpochSeconds:
          format: int64
          type: string
        name:
          type: string
        namedSchedule:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        notificationChannels:
          items:
            $ref: '#/components/schemas/generatedNotificationChannel'
          type: array
        sourceSchema:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        sourceSource:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        sourceTable:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        sourceWarehouseType:
          $ref: '#/components/schemas/generatedWarehouseType'
        tags:
          items:
            $ref: '#/components/schemas/generatedTag'
          type: array
        totalMetricCount:
          format: int64
          type: string
      type: object
    generatedCustomRuleType:
      default: CUSTOM_RULE_TYPE_UNSPECIFIED
      enum:
      - CUSTOM_RULE_TYPE_UNSPECIFIED
      - CUSTOM_RULE_TYPE_SQL_RULE
      - CUSTOM_RULE_TYPE_JOIN_RULE
      type: string
    generatedMetricGroupDimension:
      properties:
        columnName:
          type: string
        columnValue:
          type: string
        nullValue:
          type: boolean
      type: object
    generatedMetricRunFailureReason:
      default: METRIC_RUN_FAILURE_REASON_UNKNOWN
      enum:
      - METRIC_RUN_FAILURE_REASON_UNKNOWN
      - METRIC_RUN_FAILURE_REASON_QUERY_FAILED
      - METRIC_RUN_FAILURE_REASON_CONNECTION_FAILURE
      - METRIC_RUN_FAILURE_REASON_QUERY_TIMEOUT
      - METRIC_RUN_FAILURE_REASON_INVALID_CREDS
      - METRIC_RUN_FAILURE_REASON_NO_LOOKBACK_DATA
      - METRIC_RUN_FAILURE_REASON_LOOKBACK_VALUE_NOT_FOUND
      - METRIC_RUN_FAILURE_REASON_NO_OBSERVED_VALUE
      - METRIC_RUN_FAILURE_REASON_DATA_ACCESS_EXCEPTION
      - METRIC_RUN_FAILURE_REASON_BIGEYE_IP_NOT_WHITELISTED
      - METRIC_RUN_FAILURE_REASON_MAX_METRIC_TIME_NOT_FOUND
      - METRIC_RUN_FAILURE_REASON_DIMENSION_NOT_FOUND
      - METRIC_RUN_FAILURE_REASON_GROUPS_OVER_LIMIT
      - METRIC_RUN_FAILURE_REASON_BLOB_SIZE_LIMIT
      - METRIC_RUN_FAILURE_REASON_GRPC_SIZE_LIMIT
      - METRIC_RUN_FAILURE_REASON_UNHEALTHY_AGENT
      type: string
    generatedCompanionMetricType:
      default: TYPE_FRESHNESS_VOLUME
      enum:
      - TYPE_FRESHNESS_VOLUME
      type: string
    generatedSchema:
      description: '*

        Representation of a schema in a warehouse.'
      properties:
        dataNodeId:
          format: int32
          type: integer
        databaseType:
          $ref: '#/components/schemas/generatedWarehouseType'
        id:
          format: int32
          type: integer
        indexByTable:
          type: boolean
        isFavorite:
          type: boolean
        isVirtual:
          type: boolean
        latestMetricTimeValue:
          format: int64
          type: string
        logicalSizeBytes:
          format: int64
          type: string
        name:
          type: string
        numQueriesLatestPeriod:
          format: int32
          type: integer
        popularityScore:
          format: double
          type: number
        schemaChangeInfo:
          $ref: '#/components/schemas/generatedSchemaChangeInfo'
        sizeLastUpdatedAtMillis:
          format: int64
          type: string
        tags:
          items:
            $ref: '#/components/schemas/generatedTag'
          type: array
        warehouseId:
          format: int32
          type: integer
        warehouseName:
          type: string
      type: object
    generatedMonitoredObject:
      properties:
        entityInfo:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        entityType:
          $ref: '#/components/schemas/generatedCatalogEntityType'
      type: object
    generatedMetricConfiguration:
      properties:
        alertOnAbsentGroups:
          type: boolean
        bigconfigNamespace:
          type: string
        customRuleId:
          format: int32
          type: integer
        datasetId:
          format: int32
          title: Bigeye ID for the table which this metric is run on
          type: integer
        description:
          type: string
        dimension:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        filters:
          items:
            type: string
          title: Each filter evaluates to a valid SQL boolean expression
          type: array
        grainSeconds:
          format: int32
          title: width of METRIC_TIME based metric intervals
          type: integer
        groupBys:
          items:
            type: string
          title: Each group by is a column name from the table for this metric
          type: array
        id:
          format: int32
          type: integer
        isLookbackUsingCurrentTime:
          type: boolean
        isTableMetric:
          type: boolean
        lookback:
          $ref: '#/components/schemas/generatedTimeInterval'
        lookbackType:
          $ref: '#/components/schemas/generatedLookbackType'
        metricCreationState:
          $ref: '#/components/schemas/generatedMetricCreationState'
        metricGroupOverrides:
          items:
            $ref: '#/components/schemas/generatedMetricGroupOverride'
          type: array
        metricObservedColumnResponse:
          items:
            $ref: '#/components/schemas/generatedMetricObservedColumnResponse'
          type: array
        metricSchedule:
          $ref: '#/components/schemas/generatedMetricSchedule'
        metricType:
          $ref: '#/components/schemas/generatedMetricType'
        monitorType:
          $ref: '#/components/schemas/generatedMonitorType'
        mutedUntilEpochSeconds:
          format: int64
          type: string
        name:
          type: string
        notificationChannels:
          items:
            $ref: '#/components/schemas/generatedNotificationChannel'
          type: array
        parameters:
          items:
            $ref: '#/components/schemas/generatedMetricParameter'
          type: array
        profilingSuggestionForColumn:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        rctOverride:
          type: string
        scheduleFrequency:
          $ref: '#/components/schemas/generatedTimeInterval'
        thresholds:
          items:
            $ref: '#/components/schemas/generatedThreshold'
          type: array
        warehouseId:
          format: int32
          type: integer
      type: object
    generatedColumnWithTable:
      properties:
        column:
          $ref: '#/components/schemas/generatedTableColumn'
        table:
          $ref: '#/components/schemas/generatedTable'
      type: object
    generatedTableColumn:
      description: '*

        Representation of a column in a table.'
      properties:
        canBeMetricTime:
          type: boolean
        dataNodeId:
          format: int32
          type: integer
        extendedType:
          type: string
        fullType:
          type: string
        id:
          format: int32
          type: integer
        isFavorite:
          type: boolean
        isKeyInJoin:
          type: boolean
        isMetricTime:
          type: boolean
        isNullable:
          type: boolean
        isPartitionField:
          type: boolean
        name:
          type: string
        parentColumnId:
          format: int32
          type: integer
        schemaChangeInfo:
          $ref: '#/components/schemas/generatedSchemaChangeInfo'
        tags:
          items:
            $ref: '#/components/schemas/generatedTag'
          type: array
        type:
          type: string
      type: object
    generatedComparisonColumnMapping:
      properties:
        isPartOfKey:
          type: boolean
        metrics:
          items:
            $ref: '#/components/schemas/generatedMetricType'
          type: array
        sourceColumn:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        targetColumn:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        userDefined:
          type: boolean
      type: object
    generatedFailedUpdate:
      properties:
        id:
          format: int32
          type: integer
        reason:
          type: string
      type: object
    generatedComparisonTableSortField:
      default: COMPARISON_TABLE_SORT_FIELD_UNSPECIFIED
      enum:
      - COMPARISON_TABLE_SORT_FIELD_UNSPECIFIED
      - COMPARISON_TABLE_SORT_FIELD_RAN_AT
      - COMPARISON_TABLE_SORT_FIELD_NAME
      - COMPARISON_TABLE_SORT_FIELD_FAVORITE
      type: string
    generatedJoinTableFilter:
      properties:
        rctFilter:
          $ref: '#/components/schemas/generatedRowCreationTimeFilter'
        whereClause:
          type: string
      type: object
    generatedSimpleBound:
      properties:
        boundType:
          $ref: '#/components/schemas/generatedSimpleBoundType'
        value:
          description: Value of the threshold. For AutoThreshold types this is ignored.
          format: double
          type: number
      type: object
    generatedMetricCreationState:
      default: METRIC_CREATION_STATE_UNSPECIFIED
      enum:
      - METRIC_CREATION_STATE_UNSPECIFIED
      - METRIC_CREATION_STATE_MANUAL
      - METRIC_CREATION_STATE_SUGGESTED_AUTO
      - METRIC_CREATION_STATE_ACCEPTED_AUTO
      - METRIC_CREATION_STATE_REJECTED_AUTO
      - METRIC_CREATION_STATE_COMPARISON
      - METRIC_CREATION_STATE_AUTOMATIC_SETUP
      - METRIC_CREATION_STATE_SUITE
      - METRIC_CREATION_STATE_CUSTOM_RULE
      - METRIC_CREATION_STATE_INTEGRATION
      type: string
    generatedExternalMonitor:
      properties:
        type:
          $ref: '#/components/schemas/generatedExternalMonitorType'
      type: object
    generatedIdAndDisplayName:
      properties:
        displayName:
          type: string
        id:
          format: int32
          type: integer
      type: object
    generatedWorkflowProcessingType:
      default: WORKFLOW_PROCESSING_TYPE_UNSPECIFIED
      enum:
      - WORKFLOW_PROCESSING_TYPE_UNSPECIFIED
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_SOURCE
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_SCHEMA
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_DATASET
      - WORKFLOW_PROCESSING_TYPE_LINEAGE
      - WORKFLOW_PROCESSING_TYPE_METADATA_METRICS
      - WORKFLOW_PROCESSING_TYPE_GENERATE_POP_SCORES
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_INTEGRATION
      - WORKFLOW_PROCESSING_TYPE_APPLY_BIGCONFIG
      - WORKFLOW_PROCESSING_TYPE_RUN_DELTA
      - WORKFLOW_PROCESSING_TYPE_RUN_COMPARISON_TABLE
      - WORKFLOW_PROCESSING_TYPE_RUN_METRIC_BATCH
      - WORKFLOW_PROCESSING_TYPE_PLAN_BIGCONFIG
      - WORKFLOW_PROCESSING_TYPE_METRIC_DEPLOY
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_INTEGRATION_ENTITY
      type: string
    runtimeError:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        error:
          type: string
        message:
          type: string
      type: object
    generatedAutoThreshold:
      properties:
        bound:
          $ref: '#/components/schemas/generatedSimpleBound'
        forecastTime:
          format: int64
          type: string
        forecastValue:
          description: This field is ignored for configuration purposes.
          format: double
          type: number
        modelType:
          $ref: '#/components/schemas/generatedForecastModelType'
        sensitivity:
          $ref: '#/components/schemas/generatedAutothresholdSensitivity'
      type: object
    generatedCustomRule:
      properties:
        bigconfigNamespace:
          description: The Bigconfig namespace that owns this rule, if any. Output-only.
          type: string
        collectionIds:
          items:
            format: int32
            type: integer
          type: array
        customRuleType:
          $ref: '#/components/schemas/generatedCustomRuleType'
        description:
          type: string
        dimension:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        isBigconfig:
          description: 'True when this rule is managed by a Bigconfig suite. Output-only: set by the backend

            from the backing metric''s creation state; ignored on input.'
          type: boolean
        join:
          $ref: '#/components/schemas/generatedJoin'
        joinType:
          $ref: '#/components/schemas/generatedJoinType'
        leftAlias:
          type: string
        leftSelectColumns:
          items:
            $ref: '#/components/schemas/generatedIdAndDisplayName'
          type: array
        lowerThreshold:
          format: double
          type: number
        metricObservedColumnResponse:
          items:
            $ref: '#/components/schemas/generatedMetricObservedColumnResponse'
          type: array
        metricSchedule:
          $ref: '#/components/schemas/generatedMetricSchedule'
        name:
          type: string
        observedColumns:
          description: 'Fully-qualified column names this rule observes (e.g. source.schema.table.column). Used as

            Bigconfig suite input to link the rule to assets; resolved to dataset fields on apply.'
          items:
            type: string
          type: array
        owner:
          $ref: '#/components/schemas/generatedUser'
        profilingSuggestionForColumn:
          $ref: '#/components/schemas/generatedIdAndDisplayName'
        profilingSuggestionForCorrelatedColumns:
          $ref: '#/components/schemas/generatedColumnCorrelation'
        rightAlias:
          type: string
        rightSelectColumns:
          items:
            $ref: '#/components/schemas/generatedIdAndDisplayName'
          type: array
        sql:
          type: string
        tags:
          items:
            $ref: '#/components/schemas/generatedTag'
          type: array
        thresholdType:
          $ref: '#/components/schemas/generatedCustomRulesThresholdType'
        thresholds:
          items:
            $ref: '#/components/schemas/generatedConstantThreshold'
          type: array
        upperThreshold:
          format: double
          type: number
        warehouseId:
          format: int32
          type: integer
      type: object
    generatedNotificationChannel:
      properties:
        email:
          type: string
        externalTicketInfo:
          $ref: '#/components/schemas/generatedIssueExternalTicketInfo'
        slackChannelInfo:
          $ref: '#/components/schemas/generatedSlackChannelInfo'
        webhook:
          $ref: '#/components/schemas/generatedWebhook'
      type: object
  requestBodies:
    generatedGetComparisonTableInfosRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generatedGetComparisonTableInfosRequest'
      required: true
    generatedUpsertDeltaRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generatedUpsertDeltaRequest'
      required: true
    generatedBulkDeltaOperation:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generatedBulkDeltaOperation'
      required: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    Agent_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
    Personal_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
