openapi: 3.2.0
info:
  title: Metadata Service Account API Key Service API
  version: version not set
servers:
- url: https://app.bigeye.com
security:
- basicAuth: []
- Personal_API_Key: []
tags:
- name: ServiceAccountApiKeyService
paths:
  /api/v1/personal-api-keys:
    post:
      operationId: ServiceAccountApiKeyService_CreateServiceAccountApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedCreatePersonalApiKeyRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedCreatePersonalApiKeyResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Create a Service Account API Key
      tags:
      - ServiceAccountApiKeyService
  /api/v1/personal-api-keys/{serviceAccountApiKeyId}:
    delete:
      operationId: ServiceAccountApiKeyService_DeleteServiceAccountApiKey
      parameters:
      - in: path
        name: serviceAccountApiKeyId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedEmpty'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Delete a Service Account API Key
      tags:
      - ServiceAccountApiKeyService
  /api/v1/personal-api-key/service-accounts:
    get:
      operationId: ServiceAccountApiKeyService_ListAllServiceAccountKeys
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedListPersonalApiKeyResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get all Service Account API Keys
      tags:
      - ServiceAccountApiKeyService
  /api/v1/personal-api-key:
    get:
      operationId: ServiceAccountApiKeyService_ListKeysForServiceAccount
      parameters:
      - in: query
        name: serviceAccountId
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedListPersonalApiKeyResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get API Keys for a Service Account
      tags:
      - ServiceAccountApiKeyService
components:
  schemas:
    generatedEmpty:
      type: object
    generatedCreatePersonalApiKeyResponse:
      properties:
        apiKey:
          type: string
        info:
          $ref: '#/components/schemas/generatedPersonalApiKeyInfo'
      type: object
    generatedUser:
      properties:
        email:
          type: string
        groups:
          items:
            $ref: '#/components/schemas/generatedIdAndDisplayName'
          type: array
        id:
          format: int32
          type: integer
        idpGroups:
          items:
            type: string
          type: array
        isServiceAccount:
          type: boolean
        lastLoginAt:
          format: int64
          type: string
        name:
          type: string
        pictureUrl:
          type: string
      type: object
    generatedListPersonalApiKeyResponse:
      properties:
        keys:
          items:
            $ref: '#/components/schemas/generatedPersonalApiKeyInfo'
          type: array
      type: object
    generatedPersonalApiKeyInfo:
      properties:
        createdAt:
          format: int64
          type: string
        createdBy:
          $ref: '#/components/schemas/generatedUser'
        description:
          type: string
        id:
          format: int32
          type: integer
        lastUsedAt:
          format: int64
          type: string
        lastUsedIp:
          type: string
        name:
          type: string
        owner:
          $ref: '#/components/schemas/generatedUser'
      type: object
    generatedIdAndDisplayName:
      properties:
        displayName:
          type: string
        id:
          format: int32
          type: integer
      type: object
    runtimeError:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        error:
          type: string
        message:
          type: string
      type: object
    generatedCreatePersonalApiKeyRequest:
      properties:
        description:
          type: string
        name:
          type: string
        serviceAccountId:
          format: int32
          type: integer
      type: object
    protobufAny:
      properties:
        typeUrl:
          type: string
        value:
          format: byte
          type: string
      type: object
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    Agent_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
    Personal_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
