openapi: 3.2.0
info:
  title: Metadata Schema Service API
  version: version not set
servers:
- url: https://app.bigeye.com
security:
- basicAuth: []
- Personal_API_Key: []
tags:
- name: SchemaService
paths:
  /api/v1/schemas/{schemaId}/region:
    delete:
      operationId: SchemaService_DeleteBigQueryRegionOverride
      parameters:
      - in: path
        name: schemaId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedEmpty'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Remove the manual override of a region for a BigQuery schema (called dataset in BigQuery)
      tags:
      - SchemaService
    get:
      operationId: SchemaService_GetBigQueryRegion
      parameters:
      - in: path
        name: schemaId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedGetBigQueryRegionResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get the region for a BigQuery schema (called dataset in BigQuery)
      tags:
      - SchemaService
    put:
      operationId: SchemaService_SetBigQueryRegion
      parameters:
      - in: path
        name: schemaId
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedSetBigQueryRegionRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedEmpty'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Set the region for a BigQuery schema (called dataset in BigQuery)
      tags:
      - SchemaService
  /api/v1/schemas/{schemaId}/dbt/jobs:
    get:
      operationId: SchemaService_GetDbtJobsForSchema
      parameters:
      - in: path
        name: schemaId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedGetDbtJobsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get dbt jobs for schema
      tags:
      - SchemaService
  /api/v1/schemas/{schemaId}/workflow:
    get:
      operationId: SchemaService_GetSchemaWorkflow
      parameters:
      - in: path
        name: schemaId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedWorkflowResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get workflow for schema
      tags:
      - SchemaService
  /api/v1/schemas/{schemaId}/workflow/status:
    get:
      operationId: SchemaService_GetSchemaWorkflowStatus
      parameters:
      - in: path
        name: schemaId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedWorkflowStatusResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get the current status for a workflow for a schema
      tags:
      - SchemaService
  /api/v1/schemas/fetch:
    post:
      operationId: SchemaService_GetSchemas
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generatedGetSchemaListRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedGetSchemaListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Get schemas
      tags:
      - SchemaService
  /api/v1/schemas:
    get:
      operationId: SchemaService_SearchSchemas
      parameters:
      - in: query
        name: warehouseId
        required: false
        explode: true
        schema:
          type: array
          items:
            format: int32
            type: integer
      - in: query
        name: schemaName
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: schemaId
        required: false
        explode: true
        schema:
          type: array
          items:
            format: int32
            type: integer
      - in: query
        name: workspaceId
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generatedSchemaList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      summary: Search schemas
      tags:
      - SchemaService
components:
  schemas:
    generatedEmpty:
      type: object
    generatedTag:
      properties:
        colorHex:
          title: 'color_hex includes a # prefix (e.g. “#181818” is correct, “181818” is incorrect)'
          type: string
        createdAt:
          format: int64
          type: string
        id:
          format: int32
          type: integer
        name:
          type: string
        updatedAt:
          format: int64
          type: string
        workspaceId:
          format: int32
          type: integer
      title: Tags
      type: object
    generatedSortDirection:
      default: SORT_DIRECTION_UNSPECIFIED
      enum:
      - SORT_DIRECTION_UNSPECIFIED
      - SORT_DIRECTION_ASCENDING
      - SORT_DIRECTION_DESCENDING
      title: Unspecified will default to ASCENDING
      type: string
    generatedSchema:
      description: '*

        Representation of a schema in a warehouse.'
      properties:
        dataNodeId:
          format: int32
          type: integer
        databaseType:
          $ref: '#/components/schemas/generatedWarehouseType'
        id:
          format: int32
          type: integer
        indexByTable:
          type: boolean
        isFavorite:
          type: boolean
        isVirtual:
          type: boolean
        latestMetricTimeValue:
          format: int64
          type: string
        logicalSizeBytes:
          format: int64
          type: string
        name:
          type: string
        numQueriesLatestPeriod:
          format: int32
          type: integer
        popularityScore:
          format: double
          type: number
        schemaChangeInfo:
          $ref: '#/components/schemas/generatedSchemaChangeInfo'
        sizeLastUpdatedAtMillis:
          format: int64
          type: string
        tags:
          items:
            $ref: '#/components/schemas/generatedTag'
          type: array
        warehouseId:
          format: int32
          type: integer
        warehouseName:
          type: string
      type: object
    generatedDbtJob:
      properties:
        dbtJobExtId:
          format: int64
          type: string
        id:
          format: int32
          type: integer
        isFavorite:
          type: boolean
        mostRecentJobRuns:
          items:
            $ref: '#/components/schemas/generatedDbtJobRun'
          type: array
        name:
          type: string
        projectId:
          format: int32
          type: integer
        tags:
          items:
            $ref: '#/components/schemas/generatedTag'
          type: array
        url:
          type: string
      type: object
    generatedGetBigQueryRegionResponse:
      properties:
        manuallySet:
          type: boolean
        region:
          type: string
      type: object
    generatedDbtJobRun:
      properties:
        completedAt:
          format: int64
          type: string
        dbtJobRunExtId:
          format: int64
          type: string
        gitSha:
          type: string
        id:
          format: int64
          type: string
        jobId:
          format: int32
          type: integer
        startedAt:
          format: int64
          type: string
        status:
          $ref: '#/components/schemas/generatedDbtJobRunStatus'
        url:
          type: string
      type: object
    generatedPaginationInfo:
      properties:
        firstSortDistinctValues:
          format: int64
          type: string
        nextCursor:
          type: string
        noNumRecords:
          type: boolean
        numRecords:
          format: int32
          type: integer
        prevCursor:
          type: string
      type: object
    protobufAny:
      properties:
        typeUrl:
          type: string
        value:
          format: byte
          type: string
      type: object
    generatedGetSchemaListRequest:
      properties:
        hidden:
          type: boolean
        includeVirtual:
          type: boolean
        pageCursor:
          type: string
        pageSize:
          format: int32
          type: integer
        search:
          type: string
        sortDirection:
          $ref: '#/components/schemas/generatedSortDirection'
        sortField:
          $ref: '#/components/schemas/generatedSchemaSortField'
        sourceIds:
          items:
            format: int32
            type: integer
          type: array
        tagIds:
          items:
            format: int32
            type: integer
          type: array
        workspaceId:
          format: int32
          type: integer
      type: object
    generatedWorkflowResponse:
      properties:
        workflowId:
          format: int64
          type: string
        workflowType:
          $ref: '#/components/schemas/generatedWorkflowProcessingType'
      type: object
    generatedGetSchemaListResponse:
      properties:
        paginationInfo:
          $ref: '#/components/schemas/generatedPaginationInfo'
        schemas:
          items:
            $ref: '#/components/schemas/generatedSchema'
          type: array
      type: object
    generatedSchemaSortField:
      default: SCHEMA_SORT_FIELD_UNSPECIFIED
      enum:
      - SCHEMA_SORT_FIELD_UNSPECIFIED
      - SCHEMA_SORT_FIELD_NAME
      - SCHEMA_SORT_FIELD_LAST_SCHEMA_CHANGE
      - SCHEMA_SORT_FIELD_FAVORITE
      - SCHEMA_SORT_FIELD_LAST_UPDATED
      - SCHEMA_SORT_FIELD_POPULARITY
      type: string
    generatedWorkflowStatusResponse:
      properties:
        completedAt:
          format: int64
          type: string
        completedOps:
          format: int32
          type: integer
        startedAt:
          format: int64
          type: string
        status:
          $ref: '#/components/schemas/generatedWorkflowProcessingStatus'
        totalOps:
          format: int32
          type: integer
        workflowId:
          format: int64
          type: string
        workflowType:
          $ref: '#/components/schemas/generatedWorkflowProcessingType'
      type: object
    generatedSchemaChangeInfo:
      properties:
        initialSchemaScanAt:
          format: int64
          type: string
        lastSchemaChangeAt:
          format: int64
          type: string
        mostRecentSchemaScanAt:
          format: int64
          type: string
      type: object
    generatedGetDbtJobsResponse:
      properties:
        dbtJobs:
          items:
            $ref: '#/components/schemas/generatedDbtJob'
          type: array
      type: object
    generatedDbtJobRunStatus:
      default: DBT_JOB_RUN_STATUS_UNSPECIFIED
      enum:
      - DBT_JOB_RUN_STATUS_UNSPECIFIED
      - DBT_JOB_RUN_STATUS_SUCCESS
      - DBT_JOB_RUN_STATUS_ERROR
      - DBT_JOB_RUN_STATUS_QUEUED
      - DBT_JOB_RUN_STATUS_STARTING
      - DBT_JOB_RUN_STATUS_RUNNING
      - DBT_JOB_RUN_STATUS_CANCELLED
      type: string
    generatedWarehouseType:
      default: DATABASE_TYPE_UNSPECIFIED
      enum:
      - DATABASE_TYPE_UNSPECIFIED
      - DATABASE_TYPE_AWS_ATHENA
      - DATABASE_TYPE_BIGQUERY
      - DATABASE_TYPE_DATABRICKS
      - DATABASE_TYPE_MYSQL
      - DATABASE_TYPE_ORACLE
      - DATABASE_TYPE_POSTGRES
      - DATABASE_TYPE_PRESTO
      - DATABASE_TYPE_REDSHIFT
      - DATABASE_TYPE_SAP_HANA
      - DATABASE_TYPE_SNOWFLAKE
      - DATABASE_TYPE_SQL_SERVER
      - DATABASE_TYPE_SYNAPSE
      - DATABASE_TYPE_ROCKSET
      - DATABASE_TYPE_VERTICA
      - DATABASE_TYPE_AVATICA
      - DATABASE_TYPE_DB2
      - DATABASE_TYPE_TERADATA
      - DATABASE_TYPE_NETEZZA
      - DATABASE_TYPE_SALESFORCE
      type: string
    generatedSchemaList:
      properties:
        schemas:
          items:
            $ref: '#/components/schemas/generatedSchema'
          type: array
      title: '*

        Representation of a list of tables for API purposes'
      type: object
    generatedWorkflowProcessingStatus:
      default: WORKFLOW_PROCESSING_STATUS_UNSPECIFIED
      enum:
      - WORKFLOW_PROCESSING_STATUS_UNSPECIFIED
      - WORKFLOW_PROCESSING_STATUS_QUEUED
      - WORKFLOW_PROCESSING_STATUS_IN_PROGRESS
      - WORKFLOW_PROCESSING_STATUS_COMPLETED
      - WORKFLOW_PROCESSING_STATUS_PARTIAL_FAILURE
      - WORKFLOW_PROCESSING_STATUS_FAILED
      - WORKFLOW_PROCESSING_STATUS_TIMED_OUT
      type: string
    generatedWorkflowProcessingType:
      default: WORKFLOW_PROCESSING_TYPE_UNSPECIFIED
      enum:
      - WORKFLOW_PROCESSING_TYPE_UNSPECIFIED
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_SOURCE
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_SCHEMA
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_DATASET
      - WORKFLOW_PROCESSING_TYPE_LINEAGE
      - WORKFLOW_PROCESSING_TYPE_METADATA_METRICS
      - WORKFLOW_PROCESSING_TYPE_GENERATE_POP_SCORES
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_INTEGRATION
      - WORKFLOW_PROCESSING_TYPE_APPLY_BIGCONFIG
      - WORKFLOW_PROCESSING_TYPE_RUN_DELTA
      - WORKFLOW_PROCESSING_TYPE_RUN_COMPARISON_TABLE
      - WORKFLOW_PROCESSING_TYPE_RUN_METRIC_BATCH
      - WORKFLOW_PROCESSING_TYPE_PLAN_BIGCONFIG
      - WORKFLOW_PROCESSING_TYPE_METRIC_DEPLOY
      - WORKFLOW_PROCESSING_TYPE_CATALOG_INDEX_INTEGRATION_ENTITY
      type: string
    runtimeError:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        error:
          type: string
        message:
          type: string
      type: object
    generatedSetBigQueryRegionRequest:
      properties:
        region:
          type: string
      type: object
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    Agent_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
    Personal_API_Key:
      description: Add 'apikey ' to the beginning of your api key
      in: header
      name: Authorization
      type: apiKey
